@using SFA.DAS.AdminService.Web.Controllers

@{
    ViewBag.Title = "Search for an apprenticeship training provider";
    Layout = "_Layout";
}

<a asp-action="Index" asp-controller="Dashboard" class="govuk-back-link">Return to dashboard</a>

