@{
    ViewBag.Title = "Merge organisations";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-controller="MergeOrganisations" asp-action="MergeLog"> Back </a>


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Merge organisations
            </h1>

            <p class="govuk-body"> Use this service to merge organisations </p>

            <form asp-controller="MergeOrganisations" asp-action="Start" method="post">

                <button type="submit" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                    Start now
                </button>
            </form>


            <h2 class="govuk-heading-m">Before you start</h2>
            <p class="govuk-body"> Make sure there are no in-progress applications to assess or withdraw standards or versions for either EPAO.</p>
            <p class="govuk-body"> Any in-progress applications will be deleted once the merge is complete.</p>
            <p class="govuk-body"> You will need to give an Effective to date for the secondary EPAO. On this date, the secondary EPAO will be removed from the Register.</p>
            <p class="govuk-body"> The primary EPAO will then be responsible for all standards and versions that the secondary EPAO was approved for after that date.</p>

        </div>
    </div>
</main>
