<partial name="_RoatpBreadcrumb" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-m">Gateway</span>
            <h1 class="govuk-heading-xl">RoATP applications</h1>
        </div>
    </div>

    <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>

        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#new">
                    New (todo)
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#inprogress">
                    In progress (todo)
                </a>
            </li>


            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#gateway-outcomes">
                    Gateway outcomes (todo)
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#search">
                    Search applications (todo)
                </a>
            </li>
        </ul>

        <section class="govuk-tabs__panel" id="new">

            <h2 class="govuk-heading-l">New</h2>

        </section>

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inprogress">

            <h2 class="govuk-heading-l">In progress</h2>
            
        </section>

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="gateway-outcomes">

            <h2 class="govuk-heading-l">Gateway outcomes</h2>
            
        </section>


        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="search">

            <h2 class="govuk-heading-l">Search applications</h2>
            
        </section>
    </div>
</main>