@model Guid

<partial name="_RoatpBreadcrumb" />

<main class="govuk-main-wrapper " id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Application assessment overview</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">UKPRN</dt>
                    <dd class="govuk-summary-list__value">10053003</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Organisation name</dt>
                    <dd class="govuk-summary-list__value">SAFRAN LANDING SYSTEMS UK LTD</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Provider route</dt>
                    <dd class="govuk-summary-list__value">Main</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Application reference number</dt>
                    <dd class="govuk-summary-list__value">APR00000001</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date application submitted</dt>
                    <dd class="govuk-summary-list__value">17 Oct 2019</dd>
                </div>
            </dl>

            <ol class="app-task-list">
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">1. </span> Initial checks
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a asp-route="@RouteNames.RoatpAssessor_Gateway_LegalChecks_Get" asp-route-applicationId="@Model">Legal and address checks</a>
                            </span>

                            <strong class="govuk-tag app-task-list__task-next" id="gw-company-legal-outcome-next">Next</strong>

                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">2. </span> Register checks
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/register/roatp">RoATP</a>
                            </span>



                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                Register of training organisations
                                <!--a href="company/register/roto">Register of training organisations</a-->
                            </span>
                            <!--



                            -->
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/register/epao">Register of end-point assessment organisations</a>
                            </span>




                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">3. </span> Organisation checks
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/organisation/highrisk-people">People and organisation high risk</a>
                            </span>

                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a asp-route="@RouteNames.RoatpAssessor_Gateway_Website_Get" asp-route-applicationId="@Model">Organisation information</a>
                            </span>



                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/organisation/type">Organisation type</a>
                            </span>



                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/organisation/itt">Experience and accreditation</a>
                            </span>



                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">4. </span> Criminal and compliance checks
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/criminal/organisation/creditors">The organisation</a>
                            </span>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a href="company/criminal/people/convictions">People</a>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">5. </span> Submission checks
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                Application permissions and checks
                            </span>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                ‘Commercial in confidence’ information
                            </span>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                Terms and conditions (CoA’s)
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">6. </span> Gateway outcome
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                Confirm gateway outcome
                            </span>
                        </li>
                    </ul>
                </li>
            </ol>

        </div>
    </div>


</main>

