# CODEOWNERS file for das-admin-service.
# The following users will be automatically added as Reviewers to all PRs.

* @MarkFCain @martin-lush @alandburns @gdbarnes @ChrisJWoodcock @david-b-read @cofaulco @chrisfoster76
