@using SFA.DAS.AssessorService.ApplyTypes;
@using SFA.DAS.AssessorService.Domain.Consts;
@using SFA.DAS.AdminService.Web.Helpers;
@using SFA.DAS.AdminService.Common.Extensions

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.WithdrawalDateCheckViewModel 

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation name</dt>
        <dd class="govuk-summary-list__value">@Model.OrganisationName</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Details</dt>
        <dd class="govuk-summary-list__value">
            @{
                if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO)
                {
                    <text>Withdrawal from register</text>
                }
                else if (Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
                {
                    <text>Model.StandardName</text>
                }
            }

        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Requested withdrawal date</dt>
        <dd class="govuk-summary-list__value">
            @if (Model.RequestedWithdrawalDate.HasValue)
            {
                @Model.RequestedWithdrawalDate.Value.ToString("dd/MM/yyyy");
            }
        </dd>
    </div>

</dl>
