@model SFA.DAS.AdminService.Web.Models.PeopleInControlHighRiskData

@if (Model?.PeopleInControl != null)
{
    var submittedData = Model?.PeopleInControl?.OrderBy(x => x.Name)?.ToArray();


<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption">@Model.Heading</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Date of birth</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @for (var i = 0; i < submittedData.Length; i++)
            {

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                @if (submittedData.Length > i)
                        {
                @submittedData[i]?.Name?.ToUpper()

                         
                        }
            </td>

            <td class="govuk-table__cell">
                @if (!string.IsNullOrEmpty(submittedData[i].DateOfBirth))
                {
                @submittedData[i].DateOfBirth
                }
            </td>

        </tr>
            }
    </tbody>
</table>
}