@using SFA.DAS.AssessorService.ApplyTypes.Roatp
@model SFA.DAS.AdminService.Web.Models.PeopleInControlHighRiskData

@if (Model?.PeopleInControl != null && Model.PeopleInControl.Count>0)
{
    var tabularData = Model?.PeopleInControl?.OrderBy(x => x.Name)?.ToArray();
    var anyDateOfBirths = Model?.PeopleInControl != null && Model.PeopleInControl.ToArray().Any(x => !string.IsNullOrEmpty(x.MonthYearOfBirth));

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption">@Model.Heading</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            @if (anyDateOfBirths)
            {
                <th class="govuk-table__header" scope="col">Date of birth</th>
            }
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @for (var i = 0; i < tabularData.Length; i++)
            {

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                @if (tabularData.Length > i)
                        {
                @tabularData[i]?.Name?.ToUpper()

                         
                        }
            </td>
        @if (anyDateOfBirths)
        {
            <td class="govuk-table__cell">
                @if (!string.IsNullOrEmpty(tabularData[i].MonthYearOfBirth))
                {
                    @tabularData[i].MonthYearOfBirth
                }
            </td>
        }
        </tr>
            }
    </tbody>
</table>
}