@model TabularData
@if (Model?.DataRows != null && Model.DataRows.Any())
{
    <table class="govuk-table govuk-!-margin-bottom-9">
        @if (!string.IsNullOrEmpty(Model?.Caption))
        {
            <caption class="govuk-table__caption">@Model.Caption</caption>
        }
    @if (Model.HeadingTitles != null && Model.HeadingTitles.Any())
    {
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">

            @foreach (var headings in Model.HeadingTitles)
            {
                <th class="govuk-table__header" scope="col">@headings</th>
            }

        </tr>
        </thead>
    }
        <tbody class="govuk-table__body">
        @foreach (var dataRow in Model.DataRows)
        {
            <tr class="govuk-table__row">

                @foreach (var column in dataRow.Columns)
                {
                    <td class="govuk-table__cell">@column</td>
                }
            </tr>
        }
        </tbody>
    </table>
}