@model HomeViewModel
@{
    ViewData["Title"] = "Apprenticeship service admin";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Apprenticeship service admin</h1>
            <div class="govuk-inset-text">
                <span>
                    This service was previously known as the ‘ESFA admin services’.
                </span>
            </div>
            <p class="govuk-body">Use this service to manage:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the Apprenticeship provider and assessment register (APAR), including applications to join APAR</li>
                <li>apprenticeship certificates</li>
                <li>descriptions for training providers on Find a training provider if you’re an employer</li>
                <li>events and ambassadors on the Apprenticeship Ambassador Network (AAN)</li>
            </ul>
            <p class="govuk-body">You’ll need a DfE Sign-in account to use this service. If you don’t have a DfE Sign-in account, you can create one at the next step.</p>  
            <div class="form-group">
                <a asp-action="SignIn" asp-controller="Account" class="govuk-button govuk-button--start">Start now</a>
            </div>
        </div>
    </div>

</main>