@model object

@{
    ViewBag.Title = "Invalid role";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">You aren't assigned the 'end point assessment' role in the Information Management Services system</h1>
            <p class="govuk-body">You need to be given the 'end point assessment' role so you can start recording assessment grades and request certificates.</p>
            <p class="govuk-body">To request permission, you need to:</p>
            <ol class="govuk-list govuk-list--number">
                <li>Do whatever you need to do to get the Assessor Service role on Staff Idams.</li>
            </ol>
        </div>
    </div>
</main>