@using SFA.DAS.AdminService.Web.Helpers.Roatp;

@model SFA.DAS.AdminService.Web.ViewModels.Apply.Applications.RoatpApplicationReturnedViewModel

@{
    ViewBag.Title = Model.WarningMessages.Any() ? "Issue during approval" : "Feedback sent";
    var BackAction = ApplicationReviewHelpers.ApplicationBacklinkAction();
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    @ViewBag.Title
                </h1>
            </div>

            @if (Model.WarningMessages.Any())
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem with approving the application
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var warningMessage in Model.WarningMessages)
                            {
                                <li>@warningMessage</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <p class="govuk-body">
                    An email has been sent to the applicant.
                </p>
            }

            <h2 class="govuk-heading-m">What do you want to do next?</h2>

            <p class="govuk-body">
                <a class="govuk-link" asp-action="@BackAction" asp-controller="RoatpApplication">Return to applications</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link" target="_blank" href="https://www.surveymonkey.co.uk/r/P8YBH9J">What did you think of this service?</a> (takes 30 seconds)
            </p>

        </div>
    </div>
</main>