@{ 
    var currentRouteName = ViewContext.ActionDescriptor.AttributeRouteInfo.Name;
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.RoatpDashboard_Index_Get">RoATP dashboard</a>
        </li>

        @if (currentRouteName == RouteNames.RoatpAssessor_Gateway_Dashboard_Get)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP applications</li>
        }
        else
        {
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.RoatpAssessor_Gateway_Dashboard_Get">RoATP applications</a>
            </li>
        }
    </ol>
</div>