@model SFA.DAS.AdminService.Web.ViewModels.CertificateAmend.CertificateOptionViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Learning option";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateId=@Model.Id>Back</a>


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form type="post" asp-controller="CertificateOption" asp-method="Option" class="apprentice-option-form">
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c => c.Options)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="SelectedOption"></a></li>
                                <li><a sfa-validation-for="ReasonForChange"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="options-conditional-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-xl">
                                Did the apprentice take a learning option?
                            </h1>
                        </legend>
                        <div class="govuk-form-group" sfa-validation-for="SelectedOption" sfa-validationerror-class="govuk-form-group--error">
                            <p class="govuk-body">
                                You may know options as 'occupational options', 'pathways', 'specialisms' or 'specialist functions'.
                            </p>
                            <span id="options-conditional-hint" class="govuk-hint">
                                The option will appear on the certificate.
                            </span>

                            <div class="error-message-container"></div>
                            <div class="govuk-radios">

                                @foreach (var option in Model.Options)
                                {
                                    var selected = option == Model.Option;
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="choose-option-@option" name="SelectedOption" type="radio" value="@option" checked="@selected" sfa-validation-for="SelectedOption" sfa-validationerror-class="govuk-input--error" />
                                        <label class="govuk-label govuk-radios__label" for="choose-option-@option">
                                            @option
                                        </label>
                                    </div>
                                }

                            </div>
                        </div>
                    </fieldset>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-form-group" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="ReasonForChange"></span>
                    }
                    <textarea class="govuk-textarea" rows="5" name="ReasonForChange" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-textarea--error-override" asp-for="ReasonForChange"></textarea>
                </div>

                <button type="submit" class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/CertificateAmend/_OptionScriptsPartial.cshtml"); }
}