@model SFA.DAS.AdminService.Web.ViewModels.CertificateRecipientViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Recipient's name";
    Layout = "_Layout";
}

@if (Model.FromApproval)
{
    <a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-fromapproval="true" asp-route-certificateId=@Model.Id>Back</a>
}
else
{
    <a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateId=@Model.Id>Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="apprentice-recipient-form" type="post" asp-controller="CertificateRecipient" asp-method="Recipient">
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c => c.FromApproval)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Name"></a></li>
                                <li><a sfa-validation-for="ReasonForChange"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        Who will the certificate be sent to?
                    </h1>
                </legend>

                <div class="govuk-form-group" sfa-validation-for="Name" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label" for="Name">
                        Name
                    </label>
                    <span class="govuk-hint">
                        For example, Joanna Smith
                    </span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="Name"></span>
                    }
                    <input class="govuk-input" name="Name" sfa-validation-for="Name" sfa-validationerror-class="govuk-input--error" asp-for="Name" type="text" />
                </div>

                <div class="govuk-form-group" sfa-validation-for="Dept" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label" for="Dept">
                        Department (optional)
                    </label>
                    <span class="govuk-hint">
                        For example, human resources
                    </span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="Dept"></span>
                    }
                    <input class="govuk-input" name="Dept" sfa-validation-for="Dept" sfa-validationerror-class="govuk-input--error" asp-for="Dept" type="text" />
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-form-group" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="ReasonForChange"></span>
                    }
                    <textarea class="govuk-textarea" rows="5" name="ReasonForChange" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-textarea--error-override" asp-for="ReasonForChange"></textarea>
                </div>

                <button type="submit" class="govuk-button">Continue</button>
            </form>

            @if (!Model.FromApproval)
            {
                <p class="govuk-body">
                    <a asp-action="Index" asp-controller="Search" class="govuk-link">Search again</a>
                </p>
            }
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/CertificateAmend/_RecipientScriptsPartial.cshtml"); }
}