@using Newtonsoft.Json
@model SFA.DAS.AdminService.Web.ViewModels.Private.CertificateStandardCodeListViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Select standard";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.FromApproval)
        {
            <a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-fromapproval = "true" asp-route-certificateId=@Model.Id>Back</a>
        }
        else
        {
            <a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateId=@Model.Id>Back</a>
        }

        <form class="apprentice-standard-codes-form js-disable-on-submit" method="post" asp-action="StandardCode" asp-controller="CertificatePrivateStandardCode">
            @Html.HiddenFor(c => c.Id)
            @Html.HiddenFor(c => c.FromApproval)
            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There is a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <ul class="js-error-summary-list error-summary-list"></ul>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="SelectedStandardCode"></a></li>
                        <li><a sfa-validation-for="ReasonForChange"></a></li>
                    </ul>
                </div>
            }

                <div sfa-anyvalidationerror-class="after-error-summary">
                    <h1 class="govuk-heading-xl">
                        Search and select the standard
                    </h1>

                    <div class="govuk-form-group" sfa-validation-for="SelectedStandardCode" sfa-validationerror-class="govuk-form-group--error">
                        <label class="form-label" for="SelectedStandardCode">
                            <span class="form-label-bold visually-hidden">Standard Codes</span>
                            <span class="govuk-hint">
                                For example, Assistant accountant
                            </span>
                            <span class="govuk-error-message" asp-validation-for="SelectedStandardCode"></span>
                        </label>
                        <select class="govuk-input" asp-for="SelectedStandardCode" sfa-validation-for="SelectedStandardCode" sfa-validationerror-class="govuk-input--error" asp-items="@(new SelectList(Model.StandardCodes,"Value","Text"))">
                            <option value="">Please select one</option>
                        </select>
                    </div>

                    <div class="govuk-form-group" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-form-group--error">
                        <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    <span class="govuk-error-message" asp-validation-for="ReasonForChange"></span>
                        <textarea class="govuk-textarea" rows="5" name="ReasonForChange" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-input--error" asp-for="ReasonForChange"></textarea>
                    </div>
                </div>

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("~/Views/CertificateAmend/_StandardCodesScriptsPartial.cshtml"); }
}