@model SFA.DAS.AdminService.Web.ViewModels.Private.CertificateUlnViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Apprentice's unique learner number";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @if (Model.FromApproval)
        {
            <a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-fromapproval="true" asp-route-certificateId=@Model.Id>Back</a>
        }
        else
        {
            <a class="govuk-back-link" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateId=@Model.Id>Back</a>
        }
        <form class="apprentice-uln-form js-disable-on-submit" method="post" asp-action="Uln" asp-controller="CertificatePrivateUln">
            @Html.HiddenFor(c => c.Id)
            @Html.HiddenFor(c => c.FromApproval)
            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There is a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Uln"></a></li>
                        <li><a sfa-validation-for="ReasonForChange"></a></li>
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="govuk-heading-xl">
                    Please enter Uln
                </h1>

                <div class="govuk-form-group" sfa-validation-for="Uln" sfa-validationerror-class="govuk-form-group--error">
                    <label class="form-label" for="Uln">
                        <span class="form-label-bold">Unique learner number (<abbr title="Unique learner number">ULN</abbr>)</span>
                        <span class="govuk-hint">"For example, 1234567890"</span>
                        <span class="govuk-error-message" asp-validation-for="Uln"></span>
                    </label>
                    <input class="form-control js-integers-only" name="Uln" autocomplete="off" asp-for="Uln" type="text" sfa-validation-for="Uln" sfa-validationerror-class="govuk-input--error" maxlength="10" />
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-form-group" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    <span class="govuk-error-message" asp-validation-for="ReasonForChange"></span>
                    <textarea class="govuk-textarea" rows="5" name="ReasonForChange" sfa-validation-for="ReasonForChange" sfa-validationerror-class="govuk-input--error" asp-for="ReasonForChange"></textarea>
                </div>
            </div>

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/CertificateAmend/_UlnScriptsPartial.cshtml"); }
}