@using SFA.DAS.AdminService.Web.Models.Search
@model SFA.DAS.AdminService.Web.ViewModels.Search.SearchInputViewModel
@{
    ViewBag.Title = "ILR and certificate search";
    Layout = "_Layout";
}

<a asp-action="Index" asp-controller="Dashboard" class="govuk-back-link">Return to dashboard</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="SearchString"></a></li>
                            <li><a sfa-validation-for="FirstName"></a></li>
                            <li><a sfa-validation-for="LastName"></a></li>
                            <li><a sfa-validation-for="Date"></a></li>
                        </ul>
                    </div>
                </div>
            }
            <form class="standards-search-form" asp-action="Results" asp-controller="Search" method="get">
                <input type="hidden" id="searchMode" name="searchMode" value="" />
                <div class="govuk-form-group" sfa-validation-for="SearchString" sfa-validationerror-class="govuk-form-group--error">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="SearchString">
                            Search standards
                        </label>
                    </h1>
                    <span class="govuk-hint">
                        <p class="govuk-body govuk-body--hint">Search using one of these options: </p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--hint">
                            <li>unique learner number (ULN)</li>
                            <li>certificate number</li>
                            <li>apprentice's name</li>
                            <li>EPAO ID</li>
                        </ul>
                    </span>

                    <span class="govuk-error-message" asp-validation-for="SearchString"></span>
                    <input class="govuk-input" asp-for="SearchString" sfa-validation-for="SearchString" sfa-validationerror-class="govuk-input--error" id="SearchString" />

                </div>
                <button class="govuk-button" type="submit" name="SearchType" id="standardButton" value="@SearchTypes.Standards">
                    Search standard certificates
                </button>

                <p class="govuk-label--s govuk-\!-margin-bottom-2">or</p>
                
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend>
                            <label class="govuk-label govuk-label--xl">
                                Search frameworks
                            </label>
                        </legend>

                        <span class="govuk-hint">
                            <p class="govuk-body govuk-body--hint">You must enter the apprentice's first name, last name and their date of birth.</p>
                        </span>

                        <div class="govuk-form-group" sfa-validation-for="FirstName" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label govuk-label--s" asp-for="FirstName">First name</label>
                            <span class="govuk-error-message" asp-validation-for="FirstName"></span>
                            <input class="govuk-input" asp-for="FirstName" sfa-validation-for="FirstName" sfa-validationerror-class="govuk-input--error" id="FirstName" />
                        </div>
                        <div class="govuk-form-group" sfa-validation-for="LastName" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label govuk-label--s" asp-for="LastName">Last name</label>
                            <span class="govuk-error-message" asp-validation-for="LastName"></span>
                            <input class="govuk-input" asp-for="LastName" sfa-validation-for="LastName" sfa-validationerror-class="govuk-input--error" id="LastName" />
                        </div>

                        <div class="govuk-form-group" sfa-validation-for="Date" sfa-validationerror-class="govuk-form-group--error">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-label govuk-label--s">Date of birth</legend>

                                <div id="date-of-birth-hint" class="govuk-hint">
                                    For example, 27 3 2007
                                </div>

                                <div class="govuk-date-input" id="date-of-birth">
                                    <span class="govuk-error-message" asp-validation-for="Date"></span>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" asp-for="Day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Day" type="text" sfa-validation-for="Date" sfa-validationerror-class="govuk-input--error" id="Date">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" asp-for="Month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Month" type="text" sfa-validation-for="Date"  sfa-validationerror-class="govuk-input--error">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" asp-for="Year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="Year" type="text" sfa-validation-for="Date" sfa-validationerror-class="govuk-input--error">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" type="submit" name="SearchType" id="frameworkButton" value="@SearchTypes.Frameworks">Search framework certificates</button>

            </form>
        </div>
    </div>
</main>